<!DOCTYPE html>

</head>
<link rel="stylesheet" type="text/css" href="/styles/login.css"/>
<form class="form-horizontal" >
    <fieldset>
        <div id="legend">
            <legend class="">My Profile</legend>
        </div>


        <div class="control-group">
            <!-- firstName -->
            <label class="control-label"  for="firstName">First Name:</label>
            <div class="controls">
                <input type="text" id="firstName" name="firstName" disabled="true" value=<%=firstName%> >
            </div>
        </div>

        <div class="control-group">
            <!-- lastName -->
            <label class="control-label"  for="lastName">Last Name:</label>
            <div class="controls">
                <input type="text" id="lasttName" name="lastName" disabled="true" value=<%=lastName%> >
            </div>
        </div>

        <div class="control-group">
            <!-- telephone -->
            <label class="control-label"  for="lastName">Phone Number:</label>
            <div class="controls">
                <input type="text" id="telephone" name="telephone" disabled="true" value=<%=telephone%>>
            </div>
        </div>

        <div class="control-group">
            <!-- areaOfResidence-->
            <label class="control-label"  for="lastName">Area Of Residence:</label>
            <div class="controls">
                <input type="text" id="areaOfResidence" name="areaOfResidence" disabled="true" value=<%=areaOfResidence%>>
            </div>
        </div>




        <!-- <div class="control-group">
              hourlyWage
             <label class="control-label"  for="hourlyWage">Hourly Wage:</label>
             <div class="controls">
                 <input type="number" id="hourlyWage" name="hourlyWage" value=<%=hourlyWage%>>
             </div>
         </div>-->

        <div class="control-group">
            <!--bankAccount.bankName-->
            <label class="control-label"  for="bankAccount.bankName"> Bank Name:</label>
            <div class="controls">
                <input type="text" id="bankAccount.bankName" name="bankAccount.bankName" disabled="true" value=<%=bankAccount.bankName%>>
            </div>
        </div>

        <div class="control-group">
            <!--bankAccount.branch-->
            <label class="control-label"  for="bankAccount.branch"> branch:</label>
            <div class="controls">
                <input type="number" id="bankAccount.branch" name="bankAccount.branch" disabled="true" value=<%=bankAccount.branch%>>
            </div>
        </div>
        <div class="control-group">
            <!--bankAccount.accountNumber-->
            <label class="control-label"  for="bankAccount.accountNumber">Account Number:</label>
            <div class="controls">
                <input type="number" id="bankAccount.accountNumber" name="bankAccount.accountNumber" disabled="true" value=<%=bankAccount.accountNumber%>>
            </div>
        </div>


        <!-- <div class="control-group">
             fieldOfEmployment
            <div>
                <label class="control-label"  for="fieldOfEmployment">Field Of Employment:</label>
            </div>
            <select class="form-group" name="fieldOfEmployment" id="fieldOfEmployment" value=<%=fieldOfEmployment%>>
                <option value="ElectronicsAndElectricity">Electronics And Electricity</option>
                <option value="Fashion And Textiles" >Fashion And Textiles</option>
                <option value="SecurityAndSafety" >Security And Safety</option>
                <option value="ConstructionInfrastructureAndRealEstate">Construction Infrastructure And Real Estate</option>
                <option value="GraphicsDesignAndArt">Graphics Design And Art</option>
                <option value="EducationAndTraining" >Education And Training</option>
                <option value="AccountingAndFinance"  >Accounting And Finance</option>
                <option value="LogisticsProcurementAndShipping">Logistics Procurement And Shipping</option>
                <option value="RestaurantsFoodAndEvents" >Restaurants Food And Events</option>
                <option value="Retail" >Retail</option>
                <option value="Medicine And Health" >Medicine And Health</option>
                <option value="marketingAndAdvertising" >marketing And Advertising</option>
                <option value="CustomerService" >Customer Service</option>
                <option value="TransportAndVehicle" >Transport And Vehicle</option>
                <option value="TourismAndHotels" >Tourism And Hotels</option>
                <option value="IndustryAndManagement" >Industry And Management</option>
                <option value="Sales" >Sales</option>
                <option value="other" >other</option>
            </select>
        </div>-->


<!--        <div>-->
<!--            <p class="space row">                      </p>-->
<!--            <label> working Days:</label>-->
<!--            <div id = "workingDays">-->
<!--                <label><input  type="checkbox" name="workingDays.Sunday" value="Sunday">Sunday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Monday" value="Monday" >Monday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Tuesday" value="Tuesday">Tuesday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Wednesday" value="Wednesday">Wednesday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Thursday" value="Thursday" >Thursday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Friday" value="Friday">Friday</label>-->
<!--            </div>-->
<!--        </div>-->


        <div class="control-group">
            <!-- Experience -->
            <label class="control-label"  for="Experience">Experience:</label>
            <div class="controls">
                <input type="number" id="Experience" name="Experience" disabled="true" value=<%=Experience%> >
            </div>
        </div>

        <!-- <div class="control-group">
              E-mail
            <label class="control-label" for="email">E-mail:</label>
            <div class="controls">
                <input type="email" id="email" name="email" value=<%=email%>>
            </div>
        </div>-->

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                <input type="password" name="password" id="password"  value=<%=password%>>
                <p class="space row">          </p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <a href="editProfileContractor.ejs"><button class="btn btn-success">Edit</button></a>

            </div>
        </div>
    </fieldset>
</form>
</html>