<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Attendance Report</title>
</head>
<body onload="myFunction()">
<h2>Edit Attendance Report</h2>

<script>
    function myFunction() {
        var x = document.getElementById("startShift")
        var Sshift = new Date(x.placeholder)
        // const s = Sshift.getTime()
        var time = Sshift.getHours() + ":" + Sshift.getMinutes();
        document.getElementById("startShift").value = time;
    }
</script>
<form>
<!--    <button onclick="nyFunction()" type="button">try</button>-->

    <label id="qq" for="startShift">Start shift:<%=attandence.startShift%></label><br>
    <input type="time" id="startShift" value="" name="startShift" min="06:00" max="23:00" placeholder="<%=attandence.startShift%>"><br>

    <label for="endShift">End shift:<%=attandence.endShift%></label><br>
    <input type="time" id="endShift" name="endShift" min="06:00" max="23:00" ><br>

    <label for="startBreak">Start break:<%=attandence.startBreak%></label><br>
    <input type="time" id="startBreak" name="startBreak" min="06:00" max="23:00"><br>

    <label for="endBreak">End break:<%=attandence.endBreak%></label><br>
    <input type="time" id="endBreak" name="endBreak" min="06:00" max="23:00"><br>

    <div class="controls">
        <button class="btn btn-success" type="submit">Save Changes</button>
    </div>
</form>
</body>
</html>