<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>companyName</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
  
 <body>
 
   <table>
     <% employees.forEach((item)=>{%>
     <tr>
       <th>user name</th>
       <th>full name</th>
       <th>company name</th>
       <th>position</th>
       <th>phone</th>
       <th>fieldOfEmployment</th>
     </tr>
     <tr>
       <td><%=item.userName%></td>
       <td><%=item.fullName%></td>
       <td><%=item.companyName%></td>
       <td><%=item.position%></td>
       <td><%=item.phone%></td>
       <td><%=item.fieldOfEmployment%></td>
     </tr>
     <%});%>
   </table>
</body>
</html>