<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title>
    
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
   
   
 <body>
 
  <h2 >Hourrrrrrrrrrrrrrrrrrrrrrrrrrrr</h2>
  <p>Start hour:</p>

  <input id="startShift" type="text" />
  <p>End hour:</p>

  <input id="endShift" type="text" />

  <button onclick="filter()">Calcule</button>

  <p style="color: red;" id="error"></p>
   <table >
     <!-- added line 38
     <% if (locals.contractorworkers) { %>
        <% contractorworkers.forEach((item)=>{%>
        <tr>
          <th>rating</th>
          <th>user name</th>
          <th>fieldOfEmployment</th>
        </tr>
        <tr>
          <td><%=item.rating%></td>
          <td><%=item.userName%></td>
          <td><%=item.fieldOfEmployment%></td>
     </tr> 
     <td><a class="btn" href="/contractorWorker/TotalhourWorkinMonth/<%=startShift%>/<%=endShift%>">hourrrrrrr</a></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
   </table>

</body>
<script>
  function filter(){
      let startShift = document.getElementById('startShift').value
      if(!startShift){
          document.getElementById('error').innerHTML = 'must insert startShift'
          return
      }
   
      window.location.pathname = `contractorWorker/TotalhourWorkinMonth/${startShift}`
  }
  function filter1(){
      let endShift = document.getElementById('endShift').value
      if(!endShift){
          document.getElementById('error').innerHTML = 'must insert endShift'
          return
      }
      window.location.pathname = `contractorWorker/TotalhourWorkinMonth/${endShift}`
  }
</script>
</html>-->








<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 >Hour</h2>

</body>
<p>Start hour:</p>
<input type="time"  id="startShift" />
<p>End hour:</p>
<input type="time" id="endShift" />
<p>result:</p>
<input id="diff">
<p>month:</p>
<input id="month" type="text" />
<button onclick="diff1()">Calculate</button>
<script>
var startShift = document.getElementById("startShift").value;
var endShift = document.getElementById("endShift").value;

document.getElementById("startShift").onchange = function() {diff(startShift,endShift)};
document.getElementById("endShift").onchange = function() {diff(startShift,endShift)};

function diff(startShift, endShift) {
    startShift = document.getElementById("startShift").value; //to update time value in each input bar
    endShift = document.getElementById("endShift").value; //to update time value in each input bar
    
    startShift = startShift.split(":");
    endShift = endShift.split(":");
    var startDate = new Date(0, 0, 0, startShift[0], startShift[1], 0);
    var endDate = new Date(0, 0, 0, endShift[0], endShift[1], 0);
    var diff = endDate.getTime() - startDate.getTime();
    var hours = Math.floor(diff / 1000 / 60 / 60);
    diff -= hours * 1000 * 60 * 60;
    var minutes = Math.floor(diff / 1000 / 60);

    return (hours < 9 ? "0" : "") + hours + ":" + (minutes < 9 ? "0" : "") + minutes;
}

setInterval(function(){document.getElementById("diff").value = diff(startShift, endShift);}, 1000); //to update time every second (1000 is 1 sec interval and function encasing original code you had down here is because setInterval only reads functions) You can change how fast the time updates by lowering the time interval
document.getElementById("workDate").onchange = function() {diff1(workDate)};

    function diff1(workDate){
        let month = document.getElementById('month').value
        if(!month){
            document.getElementById('error').innerHTML = 'must choose month'
            return
        }
        console.log(month)
       // window.location.href =`/filterEmploymentsByMonth/${month}`
        window.location.pathname = `employment/filterEmploymentsByBookingMonth/${month}`

    }

</script>
</html>