<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>

  <table>
    <% employments.forEach((item)=>{%>
    <tr>
      <th>field</th>
      <th>status</th>
      <th>bookingDate</th>
      <th>workDate</th>
    </tr>
    <tr>
      <td><%=item.field%></td>
      <td><%=item.status%></td>
      <td><%=item.bookingDate%></td>
      <td><%=item.workDate%></td>
      <td><button id="<%=item._id%>" onclick="updateClosed()">Closed</button></td>
      <td><button id="<%=item._id%>" onclick="updateCancel()">Cancel</button></td>
    </tr>
    <%});%>
  </table>
</body>

<script>
  function updateClosed(){
    console.log('object')
  }
</script>
</html>