<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        .a1:link, a:visited {
            background-color:teal;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .a1:hover, a:active {
            background-color: cadetblue;
        }
        a{
            margin-left: 50px;
        }

    </style>
</head>
<body>
<div>
    <%- include ('../partials/EmployerNav')%>
</div>
<br>
<table>

    <tr>
        <th>Date</th>
        <th>worker</th>
        <th>More Details</th>
    </tr>
    <% names=[]%>
    <% employments.forEach((item)=>{%>
        <% names.push({name:item.workerID.firstName+" "+ item.workerID.lastName})%>
        <tr>
            <td><%=item.workDate.toDateString()%></td>
            <td><%=item.workerID.firstName%> <%=item.workerID.lastName%></td>
            <td><a class="a1" href="/employment/employmentDetails/<%=item._id%>">DETAILS</a> </td>
        </tr>
    <%});%>
</table>
<br>
<br>
<br>
<a class="a1" href="/employment/pastWorkers/<%names%>">PAST WORKERS</a>

</body>
</html>