<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
    </style>
</head>
<body>
<div>
    <%- include ('../partials/EmployerNav')%>
</div>
<label>THIS IS YOUR EMPLOYMENTS HISTORY</label>
<table>

    <tr>
        <th>Date</th>
        <th>worker</th>
        <th>More Details</th>
    </tr>
    <% names=[]%>
    <% employments.forEach((item)=>{%>
        <% names.push({name:item.workerID.firstName+" "+ item.workerID.lastName})%>
        <tr>
            <td><%=item.workDate.toDateString()%></td>
            <td><%=item.workerID.firstName%> <%=item.workerID.lastName%></td>
            <td><a class="btn" href="/employment/employmentDetails/<%=item._id%>">DETAILS</a> </td>
        </tr>
    <%});%>
</table>

<a class="btn" href="/employment/pastWorkers/<%names%>">PAST WORKERS</a>

</body>
</html>