<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .content-area h2 {
            font-family: poppins;
            letter-spacing: 4px;
            padding-top: 30px;
            font-size: 40px;
            margin: 0;
            color: #18c6c0;
        }
        .content-area h1 {
            font-family: poppins;
            letter-spacing: 4px;
            padding-right: 100px;
            font-size: 40px;
            margin: 0;
            color: #18c6c0;
        }
    </style>
</head>
<body>
<div>
    <%- include ('../partials/ContractorWorkerNav')%>
</div>
<div class="content-area">
<h1>employments orders to confirm:</h1>
<h2>hello</h2>
<table>
    <tr>
        <th>work Date</th>
        <th>Description</th>
        <th>field</th>
        <th>start Time</th>
        <th>end Time</th>
        <th>companyName</th>
        <th>employer phone</th>
        <th>confirm</th>
    </tr>
    <% employments.forEach((item)=>{%>
    <%var ID=item._id;%>
        <%var workDate=item.workDate;%>
    <%var s=item.startTime.getHours()+":"+item.startTime.getMinutes();
        var e=item.endTime.getHours()+":"+item.endTime.getMinutes()%>

        <tr>
            <td><%=item.workDate.toDateString()%></td>
            <td><%=item.jobDescription%></td>
            <td><%=item.field%></td>
            <td><%=s%></td>
            <td><%=e%></td>
            <td><%=item.employerID.companyName%></td>
            <td><%=item.employerID.phone%></td>
            <td>
            <a class="btn" href="/employment/confirmEmployment/<%=ID%>">APPROVE</a>
            <a class="btn" href="/employment/rejectEmployment/<%=ID%>/<%=workDate%>">REJECT</a>
            </td>
        </tr>
    <%});%>
</table>
</div>
</body>
</html>