<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
            position: relative;
            margin: 20rem;
        }

        table {
            font-family: arial, sans-serif;
            width: 50%;
            -moz-border-radius:6px;
            border-collapse: collapse; /* IE7 and lower */
            border-spacing: 0;
            padding-top: 0px;
        }

        td, th {
            text-align: left;
            padding: 8px;
            vertical-align: auto;
        }
        th{
            background-color: aquamarine;
        }
        th:first-child {
            border-radius: 6px 0 0 0;
        }

        th:last-child {
            border-radius: 0 6px 0 0;
        }

        th:only-child{
            border-radius: 6px 6px 0 0;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .button{
            background-color:#18c6c0;
            font-size:24px;
            color:white;
            border: none;
            position: relative;
            left: 40%;
            cursor: pointer;

        }
        h1{
            text-align: center;
            position: relative;
            font-family: "Arial Black";
        }

    </style>
</head>


<body>
<div>
    <%- include ('../partials/ContractorWorkerNav')%>
</div>
<div class="content-area">
<h1>History</h1>
<input id="workDate" type="date" />
<button onclick="filter()">Filter Employees</button>
<div>
    <table>
        <tr>
            <th>field</th>
            <th>status</th>
            <th>bookingDate</th>
            <th>workDate</th>
        </tr>
        <% if (locals.employments) { %>
            <% employments.forEach((item)=>{%>
            <tr>
                <td><%=item.field%></td>
                <td><%=item.status%></td>
                <td><%=item.bookingDate.toDateString()%></td>
                <td><%=item.workDate.toDateString()%></td>
            </tr>
            <%});%>
        <% } %>
    </table>
</div>
</div>
<script>
    function filter(){
        let workDate = document.getElementById('workDate').value
        if(!workDate){
            document.getElementById('error').innerHTML = 'must choose BookingDate'
            return
        }
        console.log(workDate)
        // window.location.href =`/filterEmploymentsByBookingDate/${BookingDate}`
        window.location.pathname = `employment/filterEmploymentsByDateContractor/${workDate}`
    }
</script>
</body>
</html>