<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contractorSearch</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div>
    <%- include ('../partials/CompanyEmployeeNav')%>
</div>
    <h2 >Search employer</h2>
<input id="name" type="text" />
<button onclick="filter()">Search</button>
<p style="color: red;" id="error"></p>


<table>

    <% if (locals.employers) { %>
        <% employers.forEach((item)=>{%>
        <tr>
            <th>full name</th>
            <th>company name</th>
            <th>position</th>
            <th>phone</th>
            <th>createdAt</th>
            <th>updatedAt</th>
        </tr>
        <tr>
            <td><%=item.fullName%></td>
            <td><%=item.companyName%></td>
            <td><%=item.position%></td>
            <td><%=item.phone%></td>
            <td><%=item.createdAt.toDateString()%></td>
            <td><%=item.updatedAt.toDateString()%></td>
        </tr>
        <%});%>
    <% } %>
</table>

</body>
<script>
    function filter(){
        let employerName = document.getElementById('name').value
        if(!employerName){
            document.getElementById('error').innerHTML = 'must insert name'
            return
        }
        console.log(employerName)
        window.location.pathname = `employer/getEmployersByEmployerName/${employerName}`

    }
</script>
</html>