<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>INFORMATION</title>
</head>
<body>
<div>
    <%- include ('../partials/CompanyEmployeeNav')%>
</div>
    <label>INFORMATION </label>
    <div class="dot"></div>
    <ul>
        <li><a href="/salary/findAllSalaries/<%=ID%>">VIEW SALARIES</a></li>
        <li><a href="/contractorWorker/findContractorAttendance/<%=ID%>" method="GET">VIEW ATTENDANCE REPORTS</a></li>
<!--        <li><a href="/companyEmployee/employerLogin/<%=ID%>">CALCULATE SALARY FOR WORKER</a></li>-->

    </ul>
<!--<label> <%=ID%> </label>-->
    <label>Calculate salary for worker: </label>
    <form class="form-horizontal" action="/salary/calculateContractorSalaryForMonth/<%=ID%>" method="POST">
        <fieldset>
         <div class="controls">
             <input type="number" placeholder="month" name="month" min="1" max="12" id="month" required >
        </div>
            <button type="submit" >CALCULATE</button>
        </fieldset>
    </form>
</body>
</html>